body {
  padding: 0;
  margin: 0;
}

#map,
body,
html {
  height: 100%;
}

/* Style the legend */
.info.legend {
  background: white;
  padding: 6px 8px;
  font: 14px Arial, Helvetica, sans-serif;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
  line-height: 1.5;
  z-index: 1000; 
  position: absolute;
  bottom: 10px;
  right: 10px;
}

/* Style for legend items */
.info.legend i {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 8px;
  opacity: 0.8;
}

.info.legend .range {
  font-size: 12px;
}
